# Config file modified from (https://github.com/ericlindsey/isbas)
[timeseries-config]

# Naming conventions
inname = coherence
outfile = timeseries.h5
outname = timeseries

# minimum number of good igrams for ISBAS, or -1 for full-rank pixels only. Ignored if ts_type = SBAS.
nsbas_min_intfs = -1

# Define reference box half-width (in number of pixels)
refnum = 10

# whether to compute the average velocity for each pixel
calcrate = True
ratename = rates 
interpname = interp

#de-trending options
detrend = True
trendparams = 3
detrendname = detrended 

# name of GPS velocity file, optional to be used for de-trending
gps_file =
constrainedtrend = False

# check for unwrapping errors using cycle voting method
unw_check_threshold = 0

# whether to plot the final results
makeplots = True

