# Config file modified from (https://github.com/ericlindsey/isbas)
[timeseries-config]

# Input file naming conventions
inname = unwrapPhase
outfile = timeseries.h5
outname = timeseries

# Define reference box half-width (in number of pixels)
refnum = 10

#de-trending options
detrend = True
trendparams = 3
constrained = False
gps_file =
detrendname = detrended

# whether to plot the final results
calcrate = True
ratename = rates
makeplots = True
ninterp = 100


